*{
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}

.header{
    min-height: 100dvh;
    color: rgb(252, 252, 252);
    text-shadow: 0 0 20px  rgba(0, 255, 191, 0.884);
}

.header--fondo{
    background-image: url(../images/fondoheader.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
}

.letras{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90dvh;
}

.letras-p{
    margin-top: 10px;
    word-spacing: 5px;
    font-size: 1.3em;
}

h2{
    word-spacing: 5px;
    font-size: 2em;
}

h1{
    margin-left: 10px;
}

@media(max-width:800px){

  

}