.precios{
    min-height: 55dvh;
    background: rgb(17, 199, 17);
    display: grid;
    grid-template-areas:
    "area-1"
    "area-2";
    gap: 10px;
}

.precios__titulo{
    grid-area: area-1;
    display: flex;
    align-items: flex-end;
}

.precios__img{
    grid-area: area-2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.precios-img{
   padding: 25px;
   border-radius: 20px;
   background: red;
   display: flex;
   flex-direction: column;
   gap: 150px;
   text-align: center;
   background: rgba(0, 0, 255, 0.267);
}

.precio{
    border-radius: 6px;
    padding: 5px 2px;
    background: rgb(255, 255, 255);
}

h3{
    margin-left: 14%;
    font-size: 2em;
    color: rgb(255, 255, 255);
}