.precios{
    min-height: 100dvh;
    background: rgb(17, 199, 17);
    display: grid;
    grid-template-areas:
    "area-1"
    "area-2";
    gap: 10px;
}

.precios--1{
    min-height:50dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}

.img, text {
    text-align: center;
}

.precios__titulo{
    grid-area: area-1;
    height: 40%;
    background-color: aqua;
    display: flex;
    align-items: flex-end;
}

.precios__img{
    grid-area: area-2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.precios-img{
    padding: 25px;
    width: 20%;
    height: 80%;
   border-radius: .5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   gap: 50px;
   text-align: center;
   background: rgba(13, 13, 204, 0.945);
}

.precio{
    width: 60%;
    border-radius: 6px;
    padding: 5px 2px;
    background: rgb(255, 255, 255);
}

h3{
    margin-left: 14%;
    font-size: 2em;
    color: rgb(255, 255, 255);
}